<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funny.admin.common.dao.wx.WeixinMessageMapper">
	<resultMap id="BaseResultMap"
		type="com.funny.admin.common.domain.wx.WeixinMessage">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>

	<insert id="insert"
		parameterType="com.funny.admin.common.domain.wx.WeixinMessage">
		insert into weixin_message (id, nick_name, head_img_url,
		create_time,content)
		values (#{id,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR},
		#{headImgUrl,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
	</insert>

	<select id="count" resultType="int">
		select count(1) from weixin_message
	</select>

	<select id="selectMessagePage" resultMap="BaseResultMap" parameterType="int">
		select * from weixin_message order by create_time asc limit #{0},#{1}
	</select>

	<resultMap id="TokenResultMap"
		type="com.funny.admin.common.domain.wx.WeixinToken">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="token" property="token" jdbcType="VARCHAR" />
		<result column="expires_in" property="expiresIn" jdbcType="INTEGER" />
		<result column="token_time" property="tokenTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="insertToken" parameterType="com.funny.admin.common.domain.wx.WeixinToken">
		insert into weixin_token (token, expires_in, token_time )
		values (#{token,jdbcType=VARCHAR}, #{expiresIn,jdbcType=INTEGER},
		#{tokenTime,jdbcType=TIMESTAMP})
	</insert>

	<select id="selectToken" resultMap="TokenResultMap">
		SELECT * FROM weixin_token
	</select>

	<update id="updateToken" parameterType="com.funny.admin.common.domain.wx.WeixinToken">
		update weixin_token set token = #{token,jdbcType=VARCHAR},
		expires_in = #{expiresIn,jdbcType=INTEGER},token_time = #{tokenTime,jdbcType=TIMESTAMP}
	</update>

</mapper>