<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funny.admin.common.dao.sys.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.funny.admin.common.domain.sys.entity.MenuEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="menu_order" property="menuOrder" jdbcType="INTEGER" />
    <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
    <result column="menu_type" property="menuType" jdbcType="INTEGER" />
    <result column="yn" property="yn" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menu_name, menu_url, parent_id, menu_order, menu_icon, menu_type, yn, create_by,
    create_time, update_by, update_time
  </sql>
  <insert id="insert" parameterType="com.funny.admin.common.domain.sys.entity.MenuEntity" >
    insert into admin_menu (id, menu_name, menu_url,
      parent_id, menu_order, menu_icon, 
      menu_type, yn, create_by,
      create_time, update_by, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{menuName,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=VARCHAR}, #{menuOrder,jdbcType=INTEGER}, #{menuIcon,jdbcType=VARCHAR},
      #{menuType,jdbcType=INTEGER}, 1, #{createBy,jdbcType=BIGINT},
      now(), #{updateBy,jdbcType=BIGINT}, now())
  </insert>
  <update id="updateByIdSelected" parameterType="com.funny.admin.common.domain.sys.entity.MenuEntity" >
    update admin_menu
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="menuOrder != null" >
        menu_order = #{menuOrder,jdbcType=INTEGER},
      </if>
      <if test="menuIcon != null" >
        menu_icon = #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        menu_type = #{menuType,jdbcType=INTEGER},
      </if>
      <if test="yn != null" >
        yn = #{yn,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      update_time = now(),
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateById" parameterType="com.funny.admin.common.domain.sys.entity.MenuEntity" >
    update admin_menu set
        menu_name = #{menuName,jdbcType=VARCHAR},
        menu_url = #{menuUrl,jdbcType=VARCHAR},
        parent_id = #{parentId,jdbcType=VARCHAR},
        menu_order = #{menuOrder,jdbcType=INTEGER},
        menu_icon = #{menuIcon,jdbcType=VARCHAR},
        menu_type = #{menuType,jdbcType=INTEGER},
        yn = #{yn,jdbcType=INTEGER},
        update_by = #{updateBy,jdbcType=BIGINT},
        update_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from admin_menu
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>