<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funny.admin.dao.sys.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.funny.admin.domain.sys.Dictionary" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dict_id" property="dictId" jdbcType="BIGINT" />
    <result column="dic_name" property="dicName" jdbcType="VARCHAR" />
    <result column="dic_value" property="dicValue" jdbcType="VARCHAR" />
    <result column="dic_id" property="dicId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dict_id, dic_name, dic_value, dic_id, create_time, create_by, update_by, update_time, 
    yn
  </sql>
  <insert id="insert" parameterType="com.funny.admin.domain.sys.BasicDictionary" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into admin_dictionary (dict_id, dic_name, dic_value, 
      dic_id, create_time, create_by, 
      update_by, update_time, yn
      )
    values (#{dictId,jdbcType=BIGINT}, #{dicName,jdbcType=VARCHAR}, #{dicValue,jdbcType=VARCHAR}, 
      #{dicId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, 
      #{updateBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{yn,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByIdSelected" parameterType="com.funny.admin.domain.sys.Dictionary" >
    update admin_dictionary
    <set >
      <if test="dictId != null" >
        dict_id = #{dictId,jdbcType=BIGINT},
      </if>
      <if test="dicName != null" >
        dic_name = #{dicName,jdbcType=VARCHAR},
      </if>
      <if test="dicValue != null" >
        dic_value = #{dicValue,jdbcType=VARCHAR},
      </if>
      <if test="dicId != null" >
        dic_id = #{dicId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null" >
        yn = #{yn,jdbcType=TINYINT}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <delete id="deleteById" parameterType="java.lang.Long" >
    update admin_dictionary
    set yn = 0
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from admin_dictionary
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="count" resultType="java.lang.Long" >
    select count(*) from admin_dictionary where yn =1 
  </select>
  <select id="findAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from admin_dictionary where yn =1 
  </select>
</mapper>