<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funny.admin.dao.sys.DictMapper" >
  <resultMap id="BaseResultMap" type="com.funny.admin.domain.sys.Dict" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dict_id" property="dictId" jdbcType="INTEGER" />
    <result column="dict_name" property="dictName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="yn" property="yn" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dict_id, dict_name, create_time, create_by, update_time, update_by, yn
  </sql>
  <insert id="insert" parameterType="com.funny.admin.domain.sys.BasicDict" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into admin_dict (dict_id, dict_name, create_time, 
      create_by, update_time, update_by, 
      yn)
    values (#{dictId,jdbcType=INTEGER}, #{dictName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, 
      #{yn,jdbcType=BIT})
  </insert>
  <update id="updateByIdSelected" parameterType="com.funny.admin.domain.sys.Dict" >
    update admin_dict
    <set >
      <if test="dictId != null" >
        dict_id = #{dictId,jdbcType=INTEGER},
      </if>
      <if test="dictName != null" >
        dict_name = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="yn != null" >
        yn = #{yn,jdbcType=BIT}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    update admin_dict
    set yn = 0
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from admin_dict
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="count" resultType="java.lang.Long" >
    select count(*) from admin_dict where yn =1 
  </select>
  <select id="findAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from admin_dict where yn =1 
  </select>
</mapper>