<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funny.admin.common.dao.sys.ConfigMapper" >
  <select id="findByCondition" resultMap="BaseResultMap"
          parameterType="com.funny.admin.common.domain.sys.condition.ConfigItemCondition" >
    select
    <include refid="Base_Column_List" />
    from admin_config where yn =1
    <if test=" configCode !=null and configCode!='' ">
      and config_code = #{configCode}
    </if>
    <if test=" configId !=null">
      and id = #{configId}
    </if>
  </select>
</mapper>