<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funny.admin.dao.sys.ConfigItemMapper" >
  <select id="findConfigItemByCondition" resultMap="BaseResultMap"
          parameterType="com.funny.admin.domain.sys.condition.ConfigItemCondition" >
    select
    <include refid="Base_Column_List" />
    from admin_config_item where yn =1
    <if test=" configId !=null">
      and config_id = #{configId}
    </if>
    <if test=" itemId !=null ">
      and item_id = #{itemId}
    </if>
  </select>
</mapper>