<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funny.admin.dao.sys.DictMapper" >


    <select id="getDictByDictId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from admin_dict
        where dict_id = #{dictId,jdbcType=INTEGER}
    </select>

    <select id="getPageDictList" resultMap="BaseResultMap" parameterType="com.funny.admin.condition.sys.DictCondition" >
        select
        <include refid="Base_Column_List" />
        from admin_dict
        where yn=1
        <include refid="sql-where"/>
    </select>

    <sql id="sql-where">
        <if test="dictId!=null">
            and dict_id = #{dictId}
        </if>
        <if test="dictName != null and dictName != '' ">
            and dict_name   like  concate('%',#{dictName},'%')
        </if>
    </sql>
</mapper>