<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funny.admin.common.dao.admin.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.funny.admin.common.domain.admin.entity.UserRoleEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="yn" property="yn" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, role_id, create_time, create_by, update_time, update_by, yn
  </sql>
    <insert id="insert" parameterType="com.funny.admin.common.domain.admin.entity.UserRoleEntity">
    insert into admin_user_role (id, user_id, role_id,
      create_time, create_by, update_time, 
      update_by, yn)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, 
      now(), #{createBy,jdbcType=BIGINT}, now(),
      #{updateBy,jdbcType=BIGINT}, 1)
  </insert>
    <update id="updateByIdSelected" parameterType="com.funny.admin.common.domain.admin.entity.UserRoleEntity">
        update admin_user_role
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="yn != null">
                yn = #{yn,jdbcType=INTEGER}
            </if>
            update_time = now(),
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateById" parameterType="com.funny.admin.common.domain.admin.entity.UserRoleEntity">
        update admin_user_role set
                user_id = #{userId,jdbcType=BIGINT},
                role_id = #{roleId,jdbcType=BIGINT},
                update_by = #{updateBy,jdbcType=BIGINT},
                yn = #{yn,jdbcType=INTEGER}
                update_time = now()
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from admin_user_role
        where id = #{id,jdbcType=BIGINT}
    </select>
</mapper>