<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funny.admin.common.dao.admin.UserRoleMapper" >
    <select id="findUserRoleByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from admin_user_role
        where yn = 1 and role_id = #{roleId,jdbcType=BIGINT}
    </select>

    <select id="findUserRoleByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from admin_user_role
        where yn = 1 and user_id = #{userId,jdbcType=BIGINT}
    </select>
</mapper>